
.container-contact {

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 180px;
    background-color: #ebb6168c;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    color: white;
    padding: 20px;
}

.header-circle {

    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #F1B500;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon-c {
    color: #0d6efd;
}


.form-contact{

    padding: 20px;
    margin-top: 28px;
    background-color:#ebb6168c;
    border-radius: 10px;

}

.form-contact-1{

    padding: 20px;
    margin-top: 28px;
    background-color:#ebb6168c;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 454px;
    width: 470px;
    display: inline-flex;


}

.box {
    margin-top: 28px;
    background-color:#ebb6168c;
    border-radius: 10px;

}

.input {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
    border-bottom: 2px solid #F1B500;
    background-color: transparent;
    margin-top: 14px;
    outline: none;
    
}

.textarea {
    background-color: transparent;
    border-bottom: 2px solid #F1B500;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 100px;
    outline: none;
}

::placeholder {

    color: white;

}

.form-cont {
    padding: 8px;
    display: flex;
    align-items: center;
}

.three{
    width: 98%;

}

.four {
    width: 98%;
}
/*efecto del boton de enviar*/
.input-submit {

    border:none;
    background-color: #F1B500;
    color: white;
    font-size: 18px;
    height: 40px;
    width: 70%;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    margin-top: 32px;
    font-weight: bold;
}

.input-submit:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -8px;
    left: -8px;
    border-top: 3px solid #0d6efd;
    border-left: 3px solid #F1B500;
    transition: all 0.25s;
}

.input-submit:hover:before,
.input-submit:hover::after
 {
    height: 100%;
    width: 100%;


}
.one, .two, .three, .four:focus {
    
    color: white;
    background-color:none;


}
.input-submit:after{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -8px;
    right: -8px;
    border-bottom: 3px solid #0d6efd;
    border-right: 3px solid #F1B500;
    transition: all 0.25s;
}

/*DISE#O DE BOTONES*/
.red-social {
    width: 34px;
}

.social {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background: none;
    /*transition: all 0.5s;
    position: relative;
*/
}

.social:hover {
    background-color: #F1B500;
    border-radius: 5px;
    width: 50%;
    -webkit-box-shadow: 1px -5px 44px -10px rgba(250,250,250,1);
    -moz-box-shadow: 1px -5px 44px -10px rgba(250,250,250,1);
    box-shadow: 1px -5px 44px -10px rgba(250,250,250,1);
    }


.msj {
    color: white;
    font-size: 13px;
    margin-top: none;
}
/*.social:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #76040a;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    height: 0%;
    transition: all 0.5s;
}

.social:before:hover {
height: 100%;
background-color: bisque;
}*/

.code-qr-text {

    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 22px;
    margin-bottom: 20px;

}

.tqr {
    color: #F1B500;
}