
.contact-me {
    background-color: #760F1C;
    padding: 20px;
}

.container-contact {

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 180px;
    background-color: #ebb6168c;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    color: white;
    padding: 20px;
}

.header-circle {

    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #F1B500;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon-c {
    color: #0d6efd;
}


.form-contact{

    padding: 20px;
    margin-top: 28px;
    background-color:#ebb6168c;
    border-radius: 10px;

}

.box {
    margin-top: 28px;
    background-color:#ebb6168c;
    border-radius: 10px;

}

.input {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
    border-bottom: 2px solid #F1B500;
    background-color: transparent;
    margin-top: 14px;
    outline: none;
    
    
}

.textarea {
    background-color: transparent;
    border-bottom: 2px solid #F1B500;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 100px;
    outline: none;
}

.input-submit {
    
    background-color:#F1B500;
    border: none;
    width: 90%;
    height: 38px;
    color: white;
    flex: auto;
    margin-top: 20px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;

}

::placeholder {

    color: white;


}

.form-cont {
    padding: 10px;
    display: flex;
    align-items: center;
}

.three{
    width: 98%;

}

.four {
    width: 98%;
}

.social {
    height: 56px;
    margin: 18px;
    width: 40px;
    background-color: #F1B500;

    flex: 1%;
}

.iconsl {
    justify-content: center;

}

