

.section-heading{
    text-align: center;
    color: white;
    padding-top: 30px;
}

/*download my cv*/
.box-resume {
    padding: 33px 30px 34px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.icons-d {

    margin-right: 8px;

}
.my-btn-resume{ 
    padding: 8px 30px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid transparent;
    background-color: #F1B500;
    color: white;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

.my-btn-resume:hover{ 

    background-color: #e6b00ff1;
    color: white;

}

.my-btn-resume::after {
    content: "DOWNLOAD MY CV";
    font-size: 18px;
    color: white;
    font-weight: bold;
}

/*TITULOS*/

.title {
    border-bottom: 1px solid #F1B500;
    padding-bottom: 13px;
    color: white;
    font-size: 21px;
    position: relative;
    margin-bottom: 30px;
}

.title::before{

    position: absolute;
    content: "";
    width: 110px;
    height: 2.4px;
    background: #131CD8;
    bottom: -1px;
}


/*LINEAS DE PROGRESO*/

.progress{

    background-color: #ebb6168c;
}
.progress-bar:nth-child(1){
    width: 6px; 
    height: 28px;
    margin-right: 4px;
    background: #F1B500;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}


.progress-bar:nth-child(2){
    width: 6px;  
    height: 28px;
    margin-right: 4px;
    background: white;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.progress-bar:nth-child(3){
    width: 6px;  
    height: 28px;
    margin-right: 4px;
    background:#F1B500;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.progress-bar:nth-child(4){
    width: 6px;  
    height: 28px;
    margin-right: 4px;
    background: white;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.progress-bar:nth-child(5){
    width: 6px;  
    height: 28px;
    margin-right: 4px;
    background: #F1B500;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.progress-bar:nth-child(6){
    width: 6px; 
    height: 28px;
    margin-right: 4px;
    background: white;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.progress-bar:nth-child(7){
    width: 6px; 
    height: 28px;
    margin-right: 4px;
    background: #F1B500;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.progress-bar:nth-child(8){
    width: 6px; 
    height: 28px;
    margin-right: 4px;
    background: white;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.progress-bar:nth-child(9){
    width: 6px; 
    height: 28px;
    margin-right: 4px;
    background: #F1B500;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.progress-bar:nth-child(10){
    width: 6px;  
    height: 28px;
    margin-right: 4px;
    background: white;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

/*PROFESIONAL SKILLS*/

.circle-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #ebb6168c;
    border: 8px solid #F1B500;
    border-top: 4px solid transparent;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;

}

.circle-2 {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #ebb6168c;
    border: 8px solid #F1B500;
    border-top: 4px solid transparent;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;

}
.circle-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #ebb6168c;
    border: 8px solid #F1B500;
    border-top: 4px solid transparent;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;

}
.circle-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #ebb6168c;
    border: 8px solid #F1B500;
    border-top: 4px solid transparent;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;

}

.text-circle {

    color: white;
    display: inline-block;
}

.main-of-the-circle-1 {
    margin-bottom: 19px;
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;

}


/*PROFESIONAL SKILLS*/
.icons-e {
    color: white;
    margin-right: 10px;

}


.list-check{
    color: white;
    list-style: none; 
    padding-top: 8px;
}

.collage-name {

    color: white;
}

.description {
    color: white;
}

.degree {
    color: white;
}
.label {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 4px;
 }


.skill-area-line {
    padding-top: 20px;
}

.skill-area-circle {
    padding-top: 20px;
}

/*EDUCATION*/

.design-ov1 {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ebb6168c;
    left: -6px;
    top: -14px;

}

.line-design {
    position: relative;
    height: 100px;
    width: 2px;
    background-color: #ebb6168c;
}


.design-ov2 { 
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ebb6168c;
    top: 79px;
    left: -6px;

}

.collage-name {
    display: inline-block;

}

.title-2 {
    border-bottom: 1px solid #F1B500;
    padding-bottom: 13px;
    padding-top: 13px;
    color: white;
    font-size: 21px;
    position: relative;
    margin-bottom: 30px;
    text-align: left;
    text-transform: uppercase

}

.title-2::before{

    position: absolute;
    content: "";
    width: 110px;
    height: 2.4px;
    background: #131CD8;
    left: 0px;
    bottom: -2px;
    
}

.name-list {

    list-style: none;
    text-align: left;
    
}

/*.degree {


}*/